[virustotal]
host = 
apikey = 

[shodan]
apikey =

[http]
host = test.com
port = 80

[mail]
Sender =  NYB.IT.System@megaicbc.com
Receiver = NYB.IT@megaicbc.com
Cc = NYB.IT.System@megaicbc.com, y.c.jhuo@megaicbc.com

